body {
  background-color: #1a1616;
}
main {
  color: aliceblue;
  height: fit-content;
  background-color: #1a1616;
  padding: 15px 0;
  width: max-content;
}
#resultadosBusca {
  margin-top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.msgErro h1 {
  font-size: medium;
}
.resultadoItem {
  height: fit-content;
  border-radius: 15px;
  margin-top: 20px;
  background-color: rgba(54, 54, 54, 0.2);
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center;
}
.resultadoImg {
  height: 250px;
  margin-right: 20px;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.resultadoText * {
  margin-top: 7px;
}
